/* header in nav bar */
#nav li h1 {
	background-color: 
}


/* body */
body {
	
}

/* navigation bar stuling */
#nav {
	position: absolute;

	/*required so the nav bar can properly "fit" the page*/
	margin-top: -8px;
	margin-left: -7px;
	width: 97%;

	box-shadow: 0px 3px 3px #EDEDED;

	height:50px;
	list-style: none;
	background-color: white;
}
#nav li {
	display: inline;
	white-space: nowrap;
}
#nav li a{
	/*padding used to properly put the list elements in the right place*/
	padding-top:  17px;
	padding-right: 20px;
	color: #A9A9A9;

	text-decoration: none;
	display: inline-block;
}
#nav li a:hover{
	color: #C7C7C7;
}
#nav li a:link{
	color: black;
}
