/* header in nav bar */
#nav li h1 {
	
}


/* body */
body {
	margin: -20px;
}

/************************************************** navigation bar *************************************************/
#navBar {
	z-index: 2;

	/*required so the nav bar can properly "fit" the page*/
	width: 100%;
	
	height:60px;
	list-style: none;
	white-space: nowrap;
}
#nav{
	width: 1000px;
	height: 60px;
	margin-left: auto;
	margin-right: auto;
}

#nav ul{

}
#nav li {
	margin-top: 20px;
	font-family: "Alegreya", "Open Sans" sans-serif;
	font-weight: 300;
	display: inline-block;
}
#nav li a{
	/*padding used to properly put the list elements in the right place*/
	padding-right: 20px;
	color: #A9A9A9;

	vertical-align: middle;

	text-decoration: none;
}
#nav li a:hover{
	color: #C7C7C7;
}
#nav li a:link{
	color: black;
}


/************************************************** Page Body **************************************************/
/*
Ad objects' (the block objects, including main div) widths are meant to fill the whole width of the containg
inner div. Thus, when changing the width of the innter div, make sure you change the width of the inner content boxes.

The inner div allows the centering of the main content.
The outer div fills up whole page and contains the inner div. 

The cotent div is for content. 
*/
#outer{
	z-index: 1;
	width: 100%;
	height: 1600px;
}

#outer #inner{
	width: 1000px;
	height: 1600px;
	margin-left: auto;
	margin-right: auto;
}
#inner #content{
	position: absolute;
	margin-top: 50px;
}
#inner #content #main{
	height: 300px;
	width: 1000px;

	border: 1px solid;
	border-bottom-color: #E0E0E0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}
/* target all headers in the content area */
#inner #content h2{
	font-family:"Alegreya", "Open Sans", sans-serif;
	font-weight: 300;
	color: #989898;

	margin-top: 70px;
	margin-left: 35px;
}
/* target all paragraphs */
#inner #content p{
	font-family: "Alegreya", "Open Sans", sans-serif;
	font-weight: 300;
	color: #989898;

	margin-left: 35px;
	margin-top: 50px;
}
/* target all links */
#inner #content a{
	font-family: "Alegreya", "Open Sans", sans-serif;
	font-weight: 300;
	margin-left: 35px;
}
/* target all divs */
#inner #content div{
	height: 350px;
	width: 1000px;

	border: 1px solid;
	border-bottom-color: #E0E0E0;
	border-top-color: transparent;
	border-left-color: transparent;
	border-right-color: transparent;
	border-left-color: transparent;
}

/* main box specific targeting */
#main h2{
}
#inner #content #ad1{
}
/* ad1 box specific targeting */
#ad1 h2{
	text-align: right;
	margin-right: 35px;
}
#ad1 p{
	text-align: right;
	margin-right: 35px;
}
/*ad2 box specific targeting */
#inner #content #ad2{
}
#ad2 h2{
}
